*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
} 

.container {
    width: 1350px;
    max-width:100%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    }

.container-flex-spaced {
    justify-content: space-between;
    align-items: center;
}

.header{
    font-family: "lato", cursive;
    padding: 29px 0;
    }

.header-title {
    font-size: 20px;
    font-family: "lato", sans-serif;
    line-height: 28px;
}

.header-list-item a {
    text-decoration: none;
    color: #1f1f1f;
    padding:12 12px;
    margin: 0 12px;
}

.header-search {
    font-size: 16px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #F2F2F2;
    background-image: url('./images/lupa.png');
    background-repeat: no-repeat;
    background-position:13px 20px;
    background-size: 18px;
    border-radius: 50px;
    border: 0;
    min-width: 232px;
    padding: 18px 20px 18px 40px;
    font-family: "Lato";
    }

.header-search ::before {
    content: "";
}

.header-cart {
    width: 52px;
    height: 52px;
    display: inline-block;
    background-image: url('./images/carrinho.png');
    background-color: #F2F2F2;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    vertical-align: middle;
    margin-left: 24px;
}

.section-run {
    background-image: url(./images/corredor.jpg);
    background-size: 400px;
    min-height: 300px;
    background-repeat: no-repeat;
}

.image {
    width: 500px;
    height: 700px;
    object-fit: cover;
    border: 3px solid red;
    border-radius: 50px;
}

.header li {
    display: inline-block;
}


